{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    <div class="form-container">



        {{ form_start(registrationForm, {'attr': {'class': 'my-form'}}) }}

        {{ form_row(registrationForm.name, {'attr': {'class': 'inside-form'}}) }}

        {{ form_row(registrationForm.lastName, {'attr': {'class': 'inside-form'}}) }}

        {{ form_row(registrationForm.pseudo, {'attr': {'class': 'inside-form'}}) }}

        {{ form_row(registrationForm.email, {'attr': {'class': 'inside-form'}}) }}

        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'inside-form'}}, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.avatar, {'attr': {'class': 'inside-form'}}) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

    </div>


{% endblock %}
