

<div class="header">
    <a href="{{ path('app_hompage') }}"><img src="{{ asset('uploads/LogoMakr-8DWPud.png') }}" alt="logo du site"></a>

    <div>
        {% if app.user %}
        <a href="{{ path('app_logout') }}">LOGOUT</a>
        {% else %}
    <a href={{ path('app_login') }}>LOGIN</a>
    <a href="{{ path('app_register') }}">SIGN IN</a>
        {% endif %}
    </div>
</div>