{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div class="your-class">
    {% for media in medias  %}
        {% if trick.id is same as media.trickId.id %}
            <div class="slick-slide">
                <div class="wrap-slider">
                    <img src="{{ asset('uploads/'~media.pictures) }}" alt="carousel">
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>}

    {% if app.user %}
        {{ form(commentaryForm) }}
        {% if trick.userId==app.user %}
            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                <button class="btn">
                    Modifier
                </button>
            </a>

            {{ include('trick/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

    <div class="wrap">
        {% for commentary in commentaries %}
            {% if trick.id==commentary.trickId.id %}
                <div class="show-trick">
                 {{ commentary }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ path('app_trick_index') }}">back to list</a>


{% endblock %}
