{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div class="wrap">
        <h1>{{ trick.name }}</h1>
        Catégorie : <h2>{{ trick.categoryId.name }}</h2>
        <div class="your-class">
            {% for media in medias  %}
                {% if trick.id is same as media.trickId.id %}
                    <div class="slick-slide">
                        <div class="wrap-slider">
                            <img src="{{ asset('uploads/'~media.pictures) }}" alt="carousel">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        Description : <h3>{{ trick.description }}</h3>

        {% set media = trick.media.first %}
        <div class="video">
            <embed width="420" height="315" src="{{ media.video }}"></embed>
        </div>
    </div>

    {% if app.user %}
        {% if trick.userId==app.user %}
            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">
                <button class="btn">
                    Modifier
                </button>
            </a>

            {{ include('trick/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

    <a href="{{ path('app_trick_index') }}">
        <button class="btn">Retour</button>
    </a>

    {% if app.user %}
        {{ form(commentaryForm) }}
    {% endif %}

    <div class="wrap">
        {% for commentary in commentaries %}
            {% if trick.id==commentary.trickId.id %}
                <div class="show-trick">
                    {{ commentary }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
